header{
  height: 80px;
  background-color: rgba(255, 122, 122, 0.836);
  width: 80vw;
 font-size: 30px;
 text-align: center;
 margin: 0px auto;
 margin-top: 50px;
 border-radius: 10px 10px 0px 0px;
   }

body {
  background-color: rgb(233, 230, 230);
}

*{
  box-sizing: border-box;
}


ul{
  margin: 0;
}

ul li{
  display:inline-block;
  padding:10px;
}

a{
 color: white; 
 background-color: rgba(255, 122, 122, 0.836);
 font-family: Arial, Helvetica, sans-serif;
 text-decoration: none;
 border: 1px solid white;
 border-radius: 3px;
 padding: 5px;
}

article{
  background-color:rgb(252, 167, 97);
  width:80vw;
  margin: 0px auto;
  padding: 10px;
  text-align: center;
}

  footer{
    
    bottom:10px;
    width:80vw;
    height:200px;
    background-color: rgb(252, 112, 112);
    margin: 0px auto;
    border-radius: 0px 0px 10px 10px;
     text-align: center;
  }