header{
  height: 80px;
  background-color: rgb(199, 199, 199);
  width: 80vw;
 font-size: 30px;
 text-align: center;
 margin: 0px auto;
 margin-top: 50px;
 border-radius: 10px 10px 10px 10px;
   }

button {
  display: inline-block;
  border-radius: 8px;
  background-color: red;
  color: #FFFFFF;
  border: 2px solid black;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 0px;
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 1s;
}

button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button:hover span {
  padding-right: 25px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}

center {
  padding: 50px;
  }