header{
  height: 80px;
  background-color: rgb(199, 199, 199);
  width: 80vw;
 font-size: 30px;
 text-align: center;
 margin: 0px auto;
 margin-top: 50px;
 border-radius: 10px 10px 10px 10px;
   }

*{
  box-sizing: border-box;
}


ul{
  margin: 0;
}

ul li{
  display:inline-block;
  padding:10px;
}

a{
 color: white; 
 background-color: rgba(255, 122, 122, 0.836);
 font-family: Arial, Helvetica, sans-serif;
 text-decoration: none;
 border: 1px solid white;
 border-radius: 3px;
 padding: 5px;
}

article{
  background-color:aliceblue;
  width:80vw;
  margin: 10px auto 10px auto;
  padding: 10px;
}